body {
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
}

.resume {
    background-color: white;
    padding: 0px 10px;
    border: 2px darkgray solid;
}

header {
    background-color: cyan;
    border: solid 2px black;
}

.intro {
    background-color: blueviolet;
}

.skills {
    background-color: chartreuse;
}

.systems {
    background-color: aquamarine;
}

.qualifications {
    background-color: greenyellow;
}

.career {
    background-color: yellowgreen;
}

.history {
    background-color: deepskyblue;
}
